# dependencies
node_modules/

# next.js
.next/
out/
build/

# production
dist/

# local env files
.env
.env.*
!.env.example

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# testing
coverage/

# vercel
.vercel/

# typescript
*.tsbuildinfo

# os/editor
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
